<template name="accountLine">
    <div class="account-line">
        <h6 class="ui header">
            Account
            <a>&times;</a>
        </h6>
        <div class="four fields">
            <div class="field">
                <div class="ui input fluid">
                    <input type="text" name="account-title" placeholder="Account name..." value="{{title}}" />
                </div>
            </div>
            <div class="field">
                <div class="ui input fluid">
                    <input type="text" name="account-login" placeholder="Login..." value="{{login}}" />
                </div>
            </div>
            <div class="field">
                <div class="ui input fluid">
                    <input type="text" name="account-email" placeholder="Email..." value="{{email}}" />
                </div>
            </div>
            <div class="field">
                <div class="ui input fluid">
                    <input type="text" name="account-password" placeholder="Password..." value="{{password}}" />
                </div>
            </div>
        </div>
    </div>
</template>